@import "../../app.scss";
.contact {
    height: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    

    @include mobile{
      width: 100%;
      padding: 10px;
      flex-direction: column;
      overflow-x: hidden;
  }

    .textContainer{
      flex:1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mobile{
        gap: 20px;
        text-align: center;
        align-items: center;
    }

      h1{
        font-size: 100px;
        line-height: 88px;

        @include mobile{
          font-size: 36px;
      }
      }

      h2{
        margin-top: 10px;
        margin-bottom: 2%;
      }
      
      span{
        font-weight: 700;
        margin-top: 10px;
      }
    }
    .formContainer{
      flex:1;
      position: relative;

      @include mobile{
        padding: 20px;
        width: 100%;
    }

      .phoneSvg{
        stroke: orange;
        position: absolute;
        margin: auto;
        z-index: -1;
        }
      }



      form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      

      input,textarea{
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        font-size: medium;

        @include mobile{
          padding: 10px;
      }
        
      }
      
      button{
        padding: 20px;
        border: 1px;
        background-color: orange;
        cursor: pointer;
        color: white;
        font-weight: 500;
        font-size: 25px;
        border-radius: 5px;

        @include mobile{
          padding: 10px;
      }
    }
    
    button:hover{
        background-color: blueviolet;
        color: white;
        transition: 0.5s;

    
    }




    }

    }
